h1, h2, h3, h4, h5, p, a, li {
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

h2, h3 {
    font-weight: 200;
}

h1 {
    margin: 0.25rem; 
    font-size: 3.75em;
    text-align: left;
}

body {
    background-color: #212121;
}

button {
  background-color: rgba(52, 81, 166, 0.7);
  font-size: 1.5em;
  padding: 0.5em;
  border: none;
  border-radius: .1em;
}

button:hover {
  background-color: rgba(52, 81, 166, 1);
}

.blue {
    background-color: rgba(52, 81, 166, 0.5);
}

.fa-user {
    color: #fff;
}

.fa-globe {
    color: #fff;
}

.speech-bubble { 
    position: relative;
    background: rgb(52, 81, 166);
    border-radius: .4em; 
}
.speech-bubble:after {
    content: ''; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    width: 0;
    height: 0; 
    border: 20px solid transparent; 
    border-right-color: rgb(52, 81, 166); 
    border-left: 0;
    margin: -20px; 
}
.speech-bubble-2 { 
    position: relative; 
    background: rgb(52, 81, 166);
    border-radius: .4em; 
} .speech-bubble-2:after { 
    content: ''; 
    position: absolute;
    right: 0;
    top: 50%; 
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: rgb(52, 81, 166);
    border-right: 0;
    margin: -20px;
}

#contact {
    display: flex; 
    flex-wrap: nowrap; 
    align-items: center;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .no-mobile {
        display: none;
    }

    #contact {
        flex-wrap: wrap;
        font-size: 1em;
        justify-content: space-around;
    }

    #contact-element {
        margin-right: 5px !important;
    }
}
