h1, h2, h3, p, a, li {
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

h2, h3 {
    font-weight: 200;
    margin-bottom: 0.25rem;
}

h1 {
    font-family: 'Rock Salt', cursive;
    margin: 0.25rem; 
    font-size: 3.75em;
    text-align: left;
}

body {
    background-color: #111;
    background-image: url("static/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

.container {
    margin: 2rem 4rem;
    padding: 1rem;
    background-color: #000;
    background-color: rgba(24, 24, 24, 0.8);
}

.tighttop {
    margin-top: 0;
}

.tightbottom {
    margin-bottom: 0;
}

ul {
    margin-top: 0.25rem;
}

.centre {
    text-align: center;
    margin: 0 auto;
}

img {
    margin-right: 0.25rem;
}

.blue {
    background-color: rgba(52, 81, 166, 0.5);
    padding: 1rem;
    padding-top: 0;
}

.fa-user {
    color: #fff;
}

.fa-globe {
    color: #fff;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75em;
}

#topflex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
    .parent {
        display: block;
    }

    .container {
        margin: 1rem 0;
        padding: 0.5rem;
    }

    #topflex {
        display: flex;
    }

    h1 {
        font-size: 2em;
        text-align: center;
    }

    #topflex {
        flex-flow: column wrap;
    }

    .no-mobile {
        display: none;
    }
}
