h1, h2, h3, h4, h5, p, a, li {
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

h2, h3 {
    font-weight: 200;
}

h1 {
    margin: 0.25rem; 
    font-size: 3.75em;
    text-align: left;
}

body {
    background-color: #212121;
    margin: 0;
}

button {
  background-color: rgba(52, 81, 166, 0.7);
  font-size: 1.5em;
  padding: 0.5em;
  border: none;
  border-radius: .1em;
}

button:hover {
  background-color: rgba(52, 81, 166, 1);
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5);
}

p {
  text-align: justify;
}

.headshot {
    width:5em;
    border-radius: 50%;
}

.container {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
}

.blue {
    background-color: rgba(52, 81, 166, 0.5);
}

.fa-user {
    color: #fff;
}

.fa-globe {
    color: #fff;
}

.floating {
    border-radius: 0.1em;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5);
}

#contact {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-evenly;
}

@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 2fr;
    }
    .desktop-wide {
        grid-column: span 2;
    }
    #nmi {
        align-self: start; 
        grid-column: 2;
        grid-row: 2;
    }
    #why {
        align-self: center;
        justify-self: center;
    }
    #socialimg {
        width: 30%;
        float: left;
        margin-right: 1em;
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .no-mobile {
        display: none;
    }
}
