<style>
    h1, h2, h3, p, a, li {
        font-family: "Open Sans", sans-serif;
        color: #fff;
    }

    h2, h3 {
        font-weight: 200;
        margin-bottom: 0.25rem;
    }

    h1 {
        font-family: "Righteous", sans-serif;
    }

    body {
        background-color: #111;
        background-image: url("static/images/background.jpg");
        background-size: cover;
        background-attachment: fixed;
        min-height: 100%;
    }

    .container {
        margin: 2rem 4rem;
        padding: 1rem;
        background-color: #000;
        background-color: rgba(24, 24, 24, 0.8);
    }

    .tighttop {
        margin-top: 0;
    }

    .tightbottom {
        margin-bottom: 0;
    }

    ul {
        margin-top: 0.25rem;
    }

    .centre {
        text-align: center;
        margin: 0 auto;
    }

    img {
        margin-right: 0.25rem;
    }

    @media only screen and (max-width: 768px) {
        .container {
            margin: 1rem 0;
            padding: 0.5rem;
        }
    }

    .blue {
        background-color: rgba(52, 81, 166, 0.5);
        padding: 1rem;
        padding-top: 0;
    }

    .speech-bubble {
        position: relative;
        background: rgba(52, 81, 166, 0.7);
        border-radius: .4em;
        padding: .4em;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: rgba(52, 81, 166, 0.7);
        border-left: 0;
        margin-top: -20px;
        margin-left: -20px;
    }

    .speech-bubble-2 {
        position: relative;
        background: rgba(52, 81, 166, 0.7);
        border-radius: .4em;
    }

    .speech-bubble-2:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: rgba(52, 81, 166, 0.7);
        border-right: 0;
        margin-top: -20px;
        margin-right: -20px;
    }

    .fa-user {
        color: #fff;
    }

    .fa-globe {
        color: #fff;
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5em;
    }

    @media only screen and (max-width: 700px) {
        .parent {
            display: block;
        }
    }

    }
</style>